.index-content {

    //height: 100%;
    .form-view {
        background: #fff;
        padding: 5px 20px 0;

        .item {
            width: 100%;

            .suffix-text {
                font-size: 12px;
                color: #666666;
            }
        }

    }

    .show-bank {
        border-top: 1px solid #eee;
        margin: 10px 20px 0 20px;
        padding-top: 20px;
        .b-text {
            color: #505BDE;
            font-size: 14px;
        }
    }

    .bank-view {
        
        border-bottom: 1px solid #eee;
        background: #fff;
        margin: 0 20px 0 20px;
        padding-bottom: 10px;

        .un-bind {

            padding: 20px;

            .un-label {
                font-size: 14px;
                color: #999999;
            }

        }

        .bind-bank {
            padding: 10px 0;

            .bank-value {
                color: #999999;
                font-size: 14px;
                margin-left: 10px;
            }
        }
    }

    .bank-label {
        color: #333333;
        font-size: 14px;
    }

    .o-value {
        color: #999999;
        font-size: 14px;
    }

    .order-promo {
        padding: 10px 0;
        background: #fff;
        margin-top: 6px;
        overflow: hidden;

        .bank-label {
            color: #505BDE;
        }

        .promo-price {
            font-size: 12px;
            color: #fff;
            background: #EF3C3C;
            border-radius: 5px;
            padding: 5px 10px;
            margin-left: 5px;
        }

        .order-time {
            font-size: 12px;
            color: #3BAA13;
        }

        .show-promo {
            margin-top: 8px;
        }

        .show-amount {
            margin-top: 6px;
        }

        .o-type {
            font-size: 14px;
            color: #0277FF;
        }
    }

    .select-post {
        padding: 8px 20px;

        .add-post {
            margin-left: 5px;
        }
    }

    .view-submit {
        padding: 20px 16px;
        background: #fff;
    }
}

.login-button {
    background: #505bde;
    border-color: #505bde;
    margin-top: 30px;
}

.u-button--disabled {
    background: #cccccc 0% 0% no-repeat padding-box;
    border: none;
    opacity: 1;
}

.b-label {
    font-size: 14px;
    color: #0277FF;
}

.show-fee {
    padding: 10px 0;
}